<% layout("/layouts/boilerplate") %>
<div class="form">
 <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
      <label for="title">Title:</label>
      <input
      class="nonDes"
       name="listing[title]" value="<%= listing.title %>" type="text"  required />
      <br />
      <label for="description">Description:</label>
      <input
      class="des"
       name="listing[description]"  type="text" required value="<%= listing.description %>"
 />
      <br />
      <label for="image">image_url:</label>
      <input
      class="nonDes"
       name="listing[image]" value="<%= listing.image %>" type="text" />
      <br />
      <label for="price">Price:</label>
      <input
      class="nonDes"
       name="listing[price]" value="<%= listing.price %>" type="number" />
      <br />
       <label for="location">Location:</label>
        <input
        class="nonDes"
        name="listing[location]"
        value="<%= listing.location %>"
        type="text"
      />
      <br />
      
      <label for="country">Country:</label>
     <input class="nonDes"
        name="listing[country]"
        value="<%= listing.country %>"
        type="text"
      />
      <br />
      <button class="btn editbtn">Edit</button>
    </form>
  

</div>
   