<% layout("/layouts/boilerplate") %>

    <div>
        <div class="slider-container">
            <h1 style="color: rgb(255, 255, 255);">Welcome To myDestination</h1>
            <p style="color: aliceblue;">
              trusted Hotel Booking Site
            </p>
            
        </div>


        <div class="mostRecom">
            <h3>Most Recomended</h3>
            <div class="homeShow">

                <% for(let listing of allListings){ %>
                    <div class="card">


                        <a href="/listings/<%=listing._id%>">
                            <img src="<%=listing.image %>" alt="image of   <%=listing.title %> ">
                            <%=listing.title %>
                        </a>
                    </div>
                    <%}%>
            </div>
            <div class="yourFav">
                <h3>Your favorite</h3>
                <div class="homeShow">

                    <% for(let listing of allListings){ %>
                        <div class="card">

                            <img src="<%=listing.image %>" alt="image of   <%=listing.title %> ">
                            <a href="/listings/<%=listing._id%>">
                                <%=listing.title %>
                            </a>
                        </div>
                        <%}%>
                </div>
                <div class="topTen">
                    <h3>Near by You</h3>
                    <div class="homeShow">

                        <% for(let listing of allListings){ %>
                            <div class="card">

                                <img src="<%=listing.image %>" alt="image of   <%=listing.title %> ">
                                <a href="/listings/<%=listing._id%>">
                                    <%=listing.title %>
                                </a>
                            </div>
                            <%}%>
                    </div>


                </div>


            </div>
        </div>
    </div>