<% layout("/layouts/boilerplate") %>
    <div class="showPage">


        <div class="showDet">
            <h3>Listing Details</h3>
            <h4>
                <%=listing.title%>
            </h4>
            <img src="<%=listing.image%>" alt="">
        </div>
        <div class="showDes">
            <p>
                <%=listing.description%>
            </p>
            <h4>
                &#8377; <%=listing.price%> &#47; Day
            </h4>
            <p><i class="fas fa-map-marker-alt"></i>
                <%=listing.location%>,<%=listing.country%>
            </p>
        </div>




        <div class="showBtns">

            <form method="" action="/listings/<%= listing._id %>">
                <button style="background-color: rgb(28, 99, 192); 
                width: 60px;" class="btn">Book</button>
            </form>
            <a style="color: aliceblue;
              
              font-size: 14px; 
              background-color: rgb(252, 118, 56); 
              text-decoration: none; 
              width: 60px; 
              display: flex; 
              height: 35px; 
              justify-content: center; 
              align-items: center;
              border-radius: 20px;
              " href="/listings/<%= listing._id %>/edit">Edit</a>
            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                <button style="background-color: red; width: 60px; " class="btn">Delete</button>
            </form>
        </div>


        <div class="leaveReview">
            <h4> leave a Review</h4>
            <form method="POST" action="/listings/<%= listing._id%>/reviews">
                <div>
                    <label for="rating"></label>
                    <input type="range" min="1" max="5" id="rating" name="review[rating]">
                </div>
                <div>

                    <textarea name="review[comment]" id="comment" cols="50" rows="8"
                        placeholder="share your experience" required></textarea>
                </div>
                <button class="btn" style="width: 60px; margin-top: 10px;">Submit</button>
            </form>
        </div>

        <h4 style=" grid-area: 5/1/6/3;margin-left: 5vw;">All Reviews</h4>
        <div class="allReviews">

            <% for(review of listing.reviews){%>
                <div>
                    <div class="review">
                        <p style="position: relative; right: 120px; color: rgb(34, 212, 34);">
                            <%=review.rating %> &#11088;
                        </p>
                        <h5 style=" position: relative;right: 40px ;bottom: 2vh; ">Worth Of Money</h5>
                        <p style="position: relative; top: 1.5vh; ">
                            <%=review.comment%>
                        </p>
                        <img src="https://png.pngtree.com/png-vector/20191110/ourmid/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg"
                            alt="" style="position: relative; top: 5.4vh; right: 120px; height: 4vh; width: 4vh;">
                        <p style="position: relative;right: 40px ;top:  1.5vh; color: rgb(119, 113, 113); ">@username</p>
                        <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                            <button class="btn revDelt" style="width: 60px;">Delete</button>
                        </form>
                    </div>
                </div>


                <% } %>
        </div>


    </div>